@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
* {
    background-color: rgb(24,24,24);
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: "Space Grotesk", sans-serif;
    color: aliceblue;
    margin-left: 40px;
    margin-top: 20px;
}
.header h1 {
    margin-top: 10px;
    font-size: 45px;
}
.header p{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 30px;
}

.image {
    display: flex;
    justify-content: center;
}
.image img{
    height: 400px;
    width: 400px;
}