@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    background-color: rgb(24,24,24);
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: "Space Grotesk", sans-serif;
    color: aliceblue;
    margin-left: 40px;
    margin-top: 20px;
}
.header h1 {
    margin-top: 0px;
    font-size: 45px;
}
.header p{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
}

.image {
    display: flex;
    justify-content: center;
}
.image img{
    height: 300px;
    width: 300px;
}

.btn button{
    font-family: "Montserrat";
    color: aliceblue;
    background-color: rgba(93,100,36);
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 10px 50px;
    
    margin-left: 590px;
    margin-top: 30px;
}

button:hover{
    background-color: rgb(73, 82, 11);
}

#results {
    color: aliceblue;
    font-family: "Montserrat";
}