@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
* {
    background-color: rgb(24,24,24);
}

.header h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 45px;
    color: aliceblue;
    margin-left: 40px;
    margin-top: 20px;
}

.image {
    display: flex;
    justify-content: center;
}
.image img{
    height: 400px;
    width: 400px;
}